@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior:smooth;
}

body {
  background: radial-gradient(rgb(29, 78, 216), rgb(30, 64, 175), rgb(17, 24, 39));
  background-repeat: no-repeat;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

@media only screen and (max-width:639px){
  .picSize {
    background-size:390%;
  }
}
@media only screen and (min-width:640px){
  .picSize {
    background-size:220%;
  }
}
@media only screen and (min-width:870px){
  .picSize {
    background-size:155%;
  }
}